<html lang='en'>
  <head>
    <title>Chatee</title>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="css/newdesign.css" rel="stylesheet">
    <link href="css/new-age.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <style>
    .simpleModal{
      display: none;
      position:fixed;
        vertical-align: middle;
      left: 0;
      height: 100%;
      width: 100%;
      margin-top: -15%;
      background-color: rbga(0,0,0,0.5);
    }

    .modal-content{
      background-color: #f4f4f4;
      margin: 20% auto;
      padding: 20px;
      width: 70%;
      box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    }

    .closeBtn{
      color: #ccc;
      float: right;
      font-size: 30px;
    }

    .closeBtn:hover,.closeBtn:focus{
      color: #000;
      text-decoration: none;
      cursor:pointer;
    }

      .colo1{
        background-color: #47476b;
      }
      .colo2{
        background-color: #666699;
      }
      .colo3{
        background-color: #f2f2f2;
      }
      .over{
        margin-top:15%;
    overflow: scroll;
    width: 100%;
   height: 75%;
      }
      .send{
        position: absolute;
          bottom: 0px;

          right: 0px;
          width: 10%;
          height: 50px;
          z-index: 99;
          background: #fafafa;
          border: none;
          outline: none;
          padding-left: 55px;
          padding-right: 55px;
          color: #666;
          font-weight: 400;
      }
      .full{
        height: 100%;
      }
      #chatroom, #feedback{
        padding: 0px;
        margin-top: 0px;
      }
      .messages{
    margin-left: 10%;
  font-weight: bold;
  font-size: 30;
}
.search{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
.message {
float: left;
width: 100%;
top: 10px;
margin: 10px 0;
border-bottom: 1px solid #ccc;
}
.message p {
font-size: 0.8em;
width: 90%;
margin: 5px 0;
}
.lastchat {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
.lastchat:hover {
      background-color: #555;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1em;
  font-weight: 400;
}
h2:after {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #39caad;
  border-radius: 100%;
  margin-left: 5px;
}
.tooltips .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #d1d1e0;
  color: Black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltips:hover .tooltiptext{
  visibility: visible;
}
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 full colo1">
          <form action="/logout">
            <div class='tooltips'>
              <span class='tooltiptext'>Logout</span>
              <button class='btn btn-outline-secondary'>
                <span class='fa fa-sign-out fa-3x'></span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-3 full colo2">
          <br>
          <span class="messages">MESSAGES</span>
          <br>
          <br>
          <!--Friends section-->
          <form method="POST" action="/add">
            <input type="hidden" name="id" value="<%= user.id %>">
              <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                  <% } %>
            <input type="text" class='search' placeholder="Add friends" name="friend">
          </form>
          <div class="over">
              <% for(var i=0; i < friends.length; i++) { %>
                <div class="message">
               <li class="lastchat">
               <h2><%= friends[i].username %></h2>
             </div>
          <% } %>
        </div>
            </tbody>

          </table>
        </div>

        <div class="col-5 full colo3">
          <nav class="navbar fixed-top navbar-light bg-faded" style='position:absolute; background-color:#e6e6e6;'>
            <a class='navbar-brand'>Daryl Christian Rabanos</a>
          </nav>
          <div class="over">
            <section id="chatroom">
              <section id="feedback"></section>
            </section>
          </div>
            <input hidden id="user" type="text" value="<%= user.username %>"/>
            <input id="message" type="text" class="form-control textarea" placeholder="Type Message Here">
            <button id="send_message" class="btn btn-default send" type="submit">Send</button>

        </div>

        <div class="col-3 full colo2">

          <button class='btn btn-secondary' id="modalBtn">Update Profile</button>
          <div class="simpleModal" id="modal">
            <div class="modal-content">
              <span class="closeBtn">&times;</span>
              <h1>User Information</h1>
              <form action="/update" method="post">
                <div class="form-group">
                  <input type="number" hidden name="id", value="<%= user.id %>">
                 <label>Name</label>
            		   <input type="text" class="form-control" name="name" value="<%= user.name %>">
            			<label>Address</label>
            			<input type="text" class="form-control" name="address" value="<%= user.address %>">
                  <label>Gender</label>
            			<select name="gender" class="form-control">
                    <% if(user.gender == 'f'){ %>
                      <option value="" disabled="disabled">Choose Gender</option>
                      <option value='m'>Male</option>
                      <option value='f' selected="selected">Female</option>
                    <% }else if(user.gender == 'm'){ %>
                      <option value="" disabled="disabled">Choose Gender</option>
                      <option value='m' selected="selected">Male</option>
                      <option value='f'>Female</option>
                    <% }else{ %>
                      <option value="" disabled="disabled" selected="selected">Choose Gender</option>
                      <option value='m'>Male</option>
                      <option value='f'>Female</option>
                    <% } %>

            			</select>
            			<label>Interests</label>
            			<input type="text" class="form-control" name="interest" value="<%= user.interests %>">
                </br>
            		<button type="submit" class="btn btn-warning">Update Info</button>
              </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/chat.js"></script>
    <script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
  </body>
</html>
