<html lang='en'>
  <head>
    <title>Chatee</title>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="css/newdesign.css" rel="stylesheet">
    <link href="css/new-age.min.css" rel="stylesheet">
    <link href="css/gorii.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/chat.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 full colo1">
          </br>
          <div class='icon tooltips'>
            <span class='tooltiptext'>Add Friend</span>
            <button class='btn btn-outline-secondary' id="modalBtn2">
              <span class='fa fa-user-plus fa-3x'></span>
            </button>
          </div>
          </br>
          <form action="/logout">
            <div class='tooltips'>
              <span class='tooltiptext'>Logout</span>
              <button class='btn btn-outline-secondary'>
                <span class='fa fa-sign-out fa-3x'></span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-3 full colo2">
          <br>
          <span class="messages">MESSAGES</span>
          <br>
          <br>
          <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <div class="over">
            <input type="text" class="search" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <ul id="friends">
              <% for(var i=0; i < friends.length; i++) { %>
              <li class="lastchat">
              <h2><%= friends[i].username %></h2>
              <% } %>
            </ul>
          </div>
        </div>
        <div class="col-5 full colo3">
          <nav class="navbar fixed-top navbar-light bg-faded" style='position:absolute; background-color:#e6e6e6;'></nav>
          <div class="over">
            <section id="chatroom">
              <section id="feedback"></section>
            </section>
          </div>
          <input hidden id="user" type="text" value="<%= user.name %>"/>
          <br>
          <input id="message" type="text" class="form-control textarea" placeholder="Type Message Here">
        </div>
        <div class="col-3 full colo2">
          <br>
          <br>
          <span class="messages">USER INFORMATION</span>
          <ul>
            <div class="info">
              <br/>
              <li>Name : <%=user.name%></li>
              <li>Address : <%=user.address%></li>
              <%if(user.gender == 'm'){%>
              <li>Gender : Male</li>
              <%}else{%>
              <li>Gender : Female</li>
              <%}%>
              <li>Interests : <%=user.interests%></li>
              <br>
              <button class='btn btn-outline-secondary' id="modalBtn">Update</button>
              </br>
            </div>
          </ul>
          <div class="simpleModal" id="modal">
            <div class="modal-content">
              <span class="closeBtn">&times;</span>
              <h1>User Information</h1>
              <form action="/update" method="post">
                <div class="form-group">
                  <input type="hidden"  name="id", value="<%= user.id %>">
                  <label>Name</label>
            		  <input type="text" class="form-control" name="name" value="<%= user.name %>" required>
            			<label>Address</label>
            			<input type="text" class="form-control" name="address" value="<%= user.address %>" required>
                  <label>Gender</label>
            			<select name="gender" class="form-control" required>
                    <% if(user.gender == 'f'){ %>
                    <option value="" disabled="disabled">Choose Gender</option>
                    <option value='m'>Male</option>
                    <option value='f' selected="selected">Female</option>
                    <% }else if(user.gender == 'm'){ %>
                    <option value="" disabled="disabled">Choose Gender</option>
                    <option value='m' selected="selected">Male</option>
                    <option value='f'>Female</option>
                    <% }else{ %>
                    <option value="" disabled="disabled" selected="selected">Choose Gender</option>
                    <option value='m'>Male</option>
                    <option value='f'>Female</option>
                    <% } %>
            			</select>
            			<label>Interests</label>
            			<input type="text" class="form-control" name="interest" value="<%= user.interests %>" required>
                  </br>
            		    <button type="submit" class="btn btn-warning">Update Info</button>
                  </div>
              </form>
            </div>
          </div>
          <div class="simpleModal2" id="modal2">
            <div class="modal-content2">
              <span class="closeBtn2">&times;</span>
              </br>
              <h1>Add Friend</h1>
              <form method="POST" action="/add">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="text" class='search' placeholder="Type name here" name="friend">
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
    <script>
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("friends");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h2")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";

            }
        }
    }

    var modal = document.getElementById('modal');
    var modalBtn = document.getElementById('modalBtn');
    var closeBtn = document.getElementsByClassName('closeBtn')[0];
    modalBtn.addEventListener('click', openModal);
    closeBtn.addEventListener('click', closeModal);


    function openModal(){
    	modal.style.display = 'inline-block';
    }

    function closeModal(){
    	modal.style.display = 'none';
    }


    var modal2 = document.getElementById('modal2');
    var modalBtn2 = document.getElementById('modalBtn2');
    var closeBtn2 = document.getElementsByClassName('closeBtn2')[0];
    modalBtn2.addEventListener('click', openModal2);
    closeBtn2.addEventListener('click', closeModal2);


    function openModal2(){
    	modal2.style.display = 'inline-block';
    }

    function closeModal2(){
    	modal2.style.display = 'none';
    }
</script>
  </body>
</html>
